<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert = "\blocks\header :: header"></header>
<div class="container mt-5">
    <div class="alert alert-info mt-2">
            <h3>У Вас нет брокера для этой монеты. Вы можете подать заявку.</h3>
            <p th:text="${coin.getName()}"></p>
            <div class="text-end">
                <form action = "/brokerInfo" method="POST" >
                <input type="hidden" name="coinId" th:value="${coin.id}"/>
                <button type="submit" class="btn btn-warning">Подать заявку</button>
                </form>
            </div>
    </div>
</div>
<div th:insert = "\blocks\footer :: footer" class="mt-auto py-4 py-md-5 bg-light"></div>
</body>
</html>