<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Начальная страница</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/styles.css}" rel = "stylesheet">
</head>
<body>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 fs-3 text-warning">Bonch биржа</a></li>
      </ul>

      <div class="text-end">
        <a th:href = "@{/main}" >
          <button type="button" class="btn btn-warning">login</button>
        </a>
      </div>
    </div>
  </div>
</header>
</body>
</html>