<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert = "\blocks\header :: header"></header>

<div id="link"></div>

<script type="text/javascript">
var obj = document.getElementById('link');
var timerFIG = 10; // Время в секундах, через которое появляется кнопка
var timer = setInterval("startTimer()",1000);
function startTimer() {
if(timerFIG !== 1) {
timerFIG--;
} else {
clearInterval(timer);
obj.innerHTML = '<form action="/mainCash"><button type="submit" class="btn btn-warning">Заработать Эфиры</button></form>'; // кнопка
}}
</script>
<div class="container mt-5">
    <div th:each="el : ${usercoin}" class="alert alert-info mt-2">
        <form method="POST" >
            <h3 th:text="${el.coin.getName()}"></h3>
            <h4>Количество<p th:text="${el.count}"></p></h4>
            <div class="text-end">
                <a th:href="'/main/sell/'+${el.id}" class="btn btn-warning">Продать</a>
            </div>
        </form>
        <form method="get" action="/brokerInfo">
            <input type="hidden" name="coinId" th:value="${el.coin.getId()}"/>
            <button type="submit" class="btn btn-warning">Информация о Брокере</button>
        </form>
    </div>
</div>
<div th:insert = "\blocks\footer :: footer" class="mt-auto py-4 py-md-5 bg-light"></div>
</body>
</html>