<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Биржа</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert = "\blocks\header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${coin}" class="alert alert-info mt-2">
        <form method="POST" >
        <p type="hidden" name="coin" value="${el}"></p>
        <h3 th:text="${el.name}"></h3>
        <h4>Стоимость<p th:text="${el.cost}"></p></h4>
        <div class="text-end">
                <a th:href="'/market/'+${el.id}" class="btn btn-warning">Купить</a>
        </div>
        </form>
    </div>
</div>
<div th:insert = "\blocks\footer :: footer"></div>
</body>
</html>