<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Подтверждение</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel = "stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:insert = "\blocks\header :: header"></header>

<div class="container mt-5">
  <h3>Подтверждение продажи</h3>
  <div th:each="el : ${coin}" class="alert alert-info mt-2">
    <form method="post" >
      <h3 th:text="${el.coin.getName()}"></h3>
      <p><b>Стоимость одного койна: </b><span th:text="${el.coin.getCost()}"></span></p>
      <p><b>Количество: </b><span th:text="${el.count}"></span></p>
      <div class="form_floating">
        <input type="text" name="count" placeholder="Введите количество">
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-warning">Продать</button>
      </div>
    </form>
  </div>
</div>
<div th:insert = "\blocks\footer :: footer"></div>
</body>
</html>