<div th:fragment="header">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <li sec:authorize="hasRole('USER')">
          <li><a href="/main" class="nav-link px-2 fs-3 text-warning">Bonch биржа</a></li>
          <a href="/market" class="nav-link px-2 fs-3 text-white">Биржа </a>
          </li>

          <li sec:authorize="hasRole('ADMIN')">
            <a href="/" th:href="@{/admin}">Admin Panel</a>
          </li>

        </ul>


        <div class="text-end">
            <p class="nav-link px-2 text-white">Баланс :<span th:text="${user.cash}"></span></p>
          <form th:action="@{/logout}" method="post">
            <button class="btn btn btn-warning" type="submit" value="Sign Out">Sign out</button>
          </form>
        </div>
      </div>
    </div>
  </header>
</div>