<div th:fragment="header">
  <header class="text-bg-dark p-2">

      <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/main" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-danger text-decoration-none">
              <img th:src="@{/images/clown.png}" alt="" width="60" height="60" class="rounded circle">
              <span class="fs-3">ClownБиржа</span>
          </a>
        <ul class="nav col-12 col-md-auto mb-2 me-lg-auto justify-content-center mb-md-0">

          <li sec:authorize="hasRole('USER')">
          <li>
          <a href="/market" class="nav-link px-2 text-white fs-4 text-decoration-none">Биржа</a>
          </li>

          <li sec:authorize="hasRole('ADMIN')">
            <a class="nav-link px-2 text-white fs-4 text-decoration-none" th:href="@{/admin}">Панель Администратора</a>
          </li>
          <li sec:authorize="hasRole('BROKER')">
            <a class="nav-link px-2 text-white fs-4 text-decoration-none" th:href="@{/broker}">Панель Брокера</a>
          </li>
        </ul>
          <div class="col-md-3 text-end">
              <p class="nav-link px-2 text-white">Баланс :<span th:text="${user.cash}"></span></p>
              <form th:action="@{/logout}" method="post">
                  <button class="btn btn btn-outline-warning me-2" type="submit" value="Sign Out">Выход</button>
              </form>
          </div>
</div>
  </header>
</div>

